@media screen and (max-width:500px) {
    .show{
       display: none;
    }
    .hidden{
       display: flex;
    }
    .utility .conteiner{
        flex-wrap: wrap;
    }
    .lbox{
        margin-right: 0;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .sbox{
        width: 100%;
    }
    .mobile{
        width: 100%;
    }
    .gallery{
        flex-wrap: wrap;
    }
    .nbox{
        width: 100%;
    }
    .me{
        flex-wrap: wrap;
    }
}
@media screen and (min-width:501px) and (max-width:1024px) {
    .show{
        display: none;
     }
     .hidden{
        display: flex;
     }
}
@media screen and (min-width:1025px){
   .logo{
       width: 20%;
   }
}