*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* start utlity */
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.w-100{
    width: 100%;
}
.margin-auto{
    margin: auto;
}
.total{
    height: 100%;
}
.height{
    height: 300px;
}
.margin-right10{
    margin-right: 10px;
}
.padding-10{
    padding: 10px;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.aligself-center{
    align-self: center;
}
.t-align-center{
    text-align: center;   
}
.jc-spacebetween{
    justify-content: space-between;
}
.t-white{
    color: white;
}
.t-black{
    color: black;
}
.bg-light-blue{
    background-color: hsl(209deg 100% 50%);
}
.bg-light-green{
    background-color: hsl(147deg 56% 87%);
}
.bg-yellow{
    background-color: yellow;
}
.display-ib{
    display: inline-block;
}
.display-i{
    display: inline;
}
.border-radius{
    border-radius: 15px;
}
.font-size{
    font-size: 30px;
}
/* /utlity */
/* start header */

header .conteiner ul li{
    display: inline-block;
    padding: 0px 12px;
    font-size: 20px;
}
header .conteiner{
    padding: 30px 0px;
    margin-bottom: 50px;
}
.btn{
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    padding: 5px 15px;
    font-size: 20px;
}

/* / header */

/* start main */
.utility .conteiner{
   margin-bottom: 10px;
}
.lbox .w-50{
    padding: 10px 10px 40px 10px;
}
.lbox p{
   margin-bottom: 30px;
}
.sbox{
    width: calc(30% - 10px);
}
.nbox{
    width: calc(100% / 3 - 10px);
}



/* / main */
